//psoraseq nextflow config

process {
    conda {
        cli = 'mamba'
    }
}

//global parameters
params.reads_dir = null
params.bowtie2_ref = null
params.output_dir = null
params.skip_alignment = false   // Default: run alignment
params.help = false             // Default: do not display help
params.ori_centric_offset = 0   // Default: do not offset values for origin position (0)
params.smoothing_window = 1     // Default: do not smooth trendline (1)

conda.enabled = true